#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
}
.nav-button {
  display: inline-block;
  padding: 10px 16px;
  background-color: #727a83;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  margin-right: 10px;
}